html, body, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', cursive;
}


h1 {
  font-family: 'Titillium Web', sans-serif;
}

h5 {
  font-size: 5em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6em 0em 0em 0em;
}
.rawr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left-col {
  display: flex;
  flex-direction: column;
}

.mid-col {
  display: flex;
  flex-direction: column;
}

.right-col {
  display: flex;
  flex-direction: column;
}

#tile {
  display: flex;
  align-items: center;

  align-self: center;
  padding: 3em;
  margin: 0.5em;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  border-radius: 10px;
}

footer {
  font-family: 'Titillium Web', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  flex-direction: column;
}
